@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://img.freepik.com/fotos-premium/cubierta-corazones_78895-45.jpg?w=360");
  background-position: center;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.corazones::before {
  content: "♥";
  color: red;
}
.picas::before {
  content: "♠";
  color: black;
}
.treboles::before {
  content: "♣";
  color: black;
}
.diamantes::before {
  content: "♦";
  color: red;
}

#carta {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin: 5% auto;
}
#parteSuperior {
  width: 60px;
  display: inline-block;
  position: relative;
  font-size: 100px;
  margin-top: -10px;
  margin-left: 20px;
}
#parteInferior {
  color: red;
  font-size: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
#parteCentral {
  font-size: 100px;
  justify-content: center;
  display: flex;
}
#botonPlay {
  display: flex;
  justify-content: center;
}
button {
  font-size: 100%;
  background: linear-gradient(#ffb3b3, #cccdd0);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
